/*Basic style*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background: $white;
  font-family: 'Manrope';
  
} 

.container {
    min-width: 324px ;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrap {
    min-width: 324px ;
    max-width: 1727px ;
    box-sizing: border-box;
    margin: 0 auto;
}

p,
a, h1, h2, h3 {
  color: $black;
}

button{
    color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth
}

.none{
  display: none;
}

.btn-sign-up{
  font-weight: 500;
  font-size: 31px;
  padding: 21px 107px;
  border-radius: 100px;
  background-color: $blueBtn;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: outline 0,6s;
}

.btn-sign-up:hover{
  outline: 2px solid $white;
}

.btn-sign-up:active{
  outline: 2px solid $black;
}

