<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fk Admiral</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Первый экран -->

    <section class="intro wrap">
        <div class="header">
            <a href="#">
                <img src="assets/icon/Logo.svg" alt="">
            </a>
            <p class="header__p">м. Коломенская, м. Кленовый бульвар, м. Нагатинский затон</p>
            <a class="header__a" href="#">8 (926) 597 57 57</a>
        </div>
        <h1>Адмирал-вмф</h1>
        <h2>Футбольная школа</h2>
        <button class="btn-sign-up">записаться</button>
        <div class="menu">
            <div class="menu__items">
                <a class="menu__link" href="#">Главная</a>
                <a class="menu__link" href="#">Клубы</a>
                <a class="menu__link" href="#">Тренерский штаб</a>
                <a class="menu__link" href="#">наши ученики</a>
            </div>
            <div class="menu__social">
                <a href=""><img src="assets/icon/WhatsApp icon.svg" alt=""></a>
                <a href=""><img src="assets/icon/Wk icon.svg" alt=""></a>
                <a href=""><img src="assets/icon/Tg icon.svg" alt=""></a>
            </div>
        </div>
    </section>
<!-- Первый экран -->

<!-- Второй экран -->
    <section class="philosophy wrap">
        <div class="text-block-philosophy">
            <h2 class="text-block-philosophy_h">философия <br> нашей  школы</h2>
            <p class="text-block-philosophy_p">
                <span class="text-block-philosophy_p bold">Каждый тренер нашей школы знает основные фазы роста и развития юных игроков.</span>
                Это важно, ведь любой ребенок – индивидуален. Мы уважаем особенности каждого спортсмена и не навязываем ему свою «модель» физического воспитания.
            </p>
            <p class="text-block-philosophy_p">
                <span class="text-block-philosophy_p bold">Наша модель нацелена на развитие и раскрытие потенциала молодых спортсменов.</span>
                Мы убеждены, что результат работы тренера не измеряется количеством титулов и медалей.</p>
            <p class="text-block_p-philosophy">
                <span class="text-block-philosophy_p bold">Главная задача нашей школы - воспитание и обучение футболиста,</span>
                который станет полноценным, сильным и здоровым членом общества.</p>
        </div>
        <img src="assets/img/philosof-img2.png" alt="">
    </section>
<!-- Второй экран -->

<!-- Третий экран -->
    <section class="sets wrap">
        <div class="arrow"></div>
        <div class="text-block-sets">
            <h2 class="text-block-sets__h2">набор воспитанников</h2>
            <p>Начало учебного года - это лучшее время <br> начать осваивать новый вид спорта, и <br> футбол - отличный выбор.</p>
            <h2>мы приглашаем футболистов</h2>
            <p>
                в одно из наших отделений: <br>
                "Адмирал Арена" (ул. Затонная, д.22) <br>
                Школа Nº463 (ул. Новинки, д.8) <br>
                Откройте для себя удивительный мир <br>
                футбола вместе с нами!
            </p>
        </div>
    </section>
<!-- Третий экран -->

<!-- Четвертый экран -->
    <section class="plus wrap">
        <div class="plus__item">
            <img src="assets/icon/plus/one.svg" alt="">
            <p>Современная методика подготовки</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/two.svg" alt="">
            <p>Работаем с 2009 года</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/tree.svg" alt="">
            <p>Удобные локации</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/four.svg" alt="">
            <p>Современный инвентарь</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/five.svg" alt="">
            <p>С каждой командой работают два тренера</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/six.svg" alt="">
            <p>Школа вратарей</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/seven.svg" alt="">
            <p>Учебно-тренировочные сборы</p>
        </div>
        <div class="plus__item">
            <img src="assets/icon/plus/eigth.svg" alt="">
            <p>Регулярное участие в чемпионатах и турнирах</p>
        </div>
    </section>
<!-- Четвертый экран -->


<section class="info-one wrap">
<div class="info-one__text-block">
    <p>За время обучения футболу игрок проходит через разные форматы игры.</p>
    <p>Малыши начинают играть с двух игроков в поле, и чем старше становится ребенок, тем больше игроков одновременно допускается на поле во время игры.</p>
    <p>В ФШ "Адмирал-ВМФ" юные футболисты проходят все этапы обучения, вплоть до полноформатного футбола 11х11 в старших возрастах. Это позволяет гармонично развиваться, и на финальном этапе обучения получить спортсмена, способного выступать на высоком уровне.</p>
</div>
<button class="btn-sign-up">записаться</button>
</section>

<section class="we-have wrap">
    <h1 class="we-have-h1">У нас</h1>
    <div class="we-have__block we-have__block--one">
        <img src="assets/img/we-have-img5.png" alt="">
        <div class="text">
            <h2>Школа вратарей</h2>
            <p> <span class="we-have__bold">Вратарь - особенный игрок в команде.</span></p>
            <p>Зачастую подготовке вратарей не удается уделить достаточно внимания в рамках тренировочного процесса, поэтому для голкиперов "Адмирал-ВМФ" наши партнеры из Школы вратарского мастерства им. Льва Яшина проводят вратарские тренировки, где ставят вратарскую технику и развивают понимание игры.</p>
        </div>
    </div>
    <div class="we-have__block we-have__block--two">
        <div class="text">
            <h2>Летние сборы и выездные турниры</h2>
            <p>Неотъемлемой частью тренировок является получение опыта детьми в рамках соревнований.</p>
            <p>В нашей школе дети всех возрастов принимают участие в различных турнирах, где закрепляют и развивают свои футбольные навыки.</p>
            <p>Так же для наших воспитанников мы организуем летние и зимние тренировочные сборы и выездные турниры по всей России.</p>
        </div>
    </div>
    <div class="we-have__block we-have__block--tree">
        <img src="assets/img/we-have-img7.png" alt="">
        <div class="text">
            <h2>Совершенствование офп</h2>
            <p>Футбол - это спорт, который требует не только быстроты и оригинальности мышления, но и отличной физической формы.</p>
            <p>Для своих воспитанников мы проводим дополнительные тренировки по совершенствованию общей физической подготовки, на которых под руководством специалистов наши игроки развивают силу, скорость и выносливость.</p>
        </div>
    </div>
</section>

<section class="anceta wrap">
    <div class="carta"></div>
    <div class="input-block">
        <label for="FIO">
            <h3>Присоединяйся к нам!</h3>
        </label>
        <input id="FIO" type="text" placeholder="ФИО родителя*">
        <input type="text"  placeholder="Контактный телефон*">
        <input type="text" placeholder="ФИО ребенка*">
        <input type="text" placeholder="Дата рождения*">

        <button class="btn-sign-up btn-sign-up--btn3">записаться</button>
        <button class="anceta__phoneBtn">
            <img src="assets/icon/phone.svg" alt="">
        </button>
    </div>


</section>

<section class="footer wrap">
    <div class="footer__text1">
        <p>Футбольная школа для детей</p>
        <p>м. Коломенская,</p>
        <p>М. Кленовый бульвар,</p>
        <p>М. Нагатинский затон</p>
    </div>
    <a href=""><img src="assets/icon/Logo2.svg" alt=""></a>
    <div class="footer__contacts">
        <a href=""><img src="assets/icon/WhatsApp icon.svg" alt=""></a>
        <a href=""><img src="assets/icon/Wk icon.svg" alt=""></a>
        <a href=""><img src="assets/icon/Tg icon.svg" alt=""></a>
        <div class="footer__text2">
            <a href=""><p class="footer__number-p">8 (926) 597 57 57</p></a>
            <a href=""><p>fc-admiral@mail.ru</p></a>
        </div>
    </div>
</section>

</body>
</html>