{% load static %}
<footer class="footer wrap">
    <div class="footer__text1">
        <p>Футбольная школа для детей</p>
        <p>М. Коломенская, М. Царицыно,</p>
        <p>М. Кленовый бульвар, М. Кантемировская,</p>
        <p>М. Нагатинский затон, М. Орехово</p>
    </div>
    <a href=""><img src="{% static 'icon/Logo2.svg' %}" alt=""></a>
    <div class="footer__contacts">
        <a href="https://wa.me/89265975757"><img src="{% static 'icon/WhatsApp icon.svg' %}" alt=""></a>
        <a href="https://vk.com/fcadmiral"><img src="{% static 'icon/Wk icon.svg' %}" alt=""></a>
        <a href="https://t.me/fcadmiral"><img src="{% static 'icon/Tg icon.svg' %}" alt=""></a>
        <div class="footer__text2">
            <button class="anceta__phoneBtn" type="button">
                <p class="footer__number-p">8 (926) 597 57 57</p>
            </button>
            <a href="https://e.mail.ru/compose/?mailto=fc-admiral@mail.ru&amp;subject=Вопрос%20с%20сайта"
                target="_blank"
                rel="noopener"
                class="footer__email-link">
                <p>fc-admiral@mail.ru</p>
            </a>
        </div>
    </div>
</footer>

