{% load static %}
<header class="menu wrap">
    <div class="menu__items">
        <a class="menu__link" href="#">Главная</a>
        <a class="menu__link" href="#">Тренерский штаб</a>
        <a class="menu__link" href="#">Наши ученики</a>
    </div>
    <div class="menu__social">
        <a href=""><img src="{% static 'icon/WhatsApp icon.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icon/Wk icon.svg' %}" alt=""></a>
        <a href=""><img src="{% static 'icon/Tg icon.svg' %}" alt=""></a>
    </div>
</header>

