
@import 'reset';
@import 'variables';
@import 'core';
@import 'mixins';

@import 'blocks/intro.scss';
@import 'blocks/philosophy.scss';
@import 'blocks/sets.scss';
@import 'blocks/plus.scss';
@import 'blocks/info-one.scss';
@import 'blocks/we-have.scss';
@import 'blocks/anceta.scss';
@import 'blocks/footer.scss';
@import 'blocks/coach-cards.scss';

