.philosophy{
    margin-top: 104px;
    margin-bottom: 108px;
    display: flex;
    justify-content: space-between;
}
.text-block-philosophy{
    // width: 616px;
    

    h2{
        @include text (900, 64px);
        color: $black;
        line-height: 55px;
        margin-bottom: 80px;
        text-transform: uppercase
    }
 
    p{
        @include text (300, 32px);
        margin-top: 34px;
    }

img{
margin-left: 50px;
}
}
