.plus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 108px;

    &__item{
        width: 380px;
        text-align: center;
        margin-top: 40px;

        p{
            @include text(500, 32px);
            margin-top: 30px;
        }

        img{
            margin: 0 auto;
        }
    }


}